async-timeout==4.0.3
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
Deprecated==1.2.14
environs==11.0.0
fire==0.6.0
fonttools==4.50.0
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.10
lxml==5.2.0
marshmallow==3.21.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
packaging==24.0
pandas==2.2.1
pdf2docx==0.5.8
pikepdf==8.14.0
pillow==10.3.0
pyaes==1.6.1
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
Pyrogram==2.0.106
pyrogram-patch==1.4.0
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.1
pytz==2024.1
redis==4.5.5
reportlab==4.1.0
requests==2.31.0
requests-async==0.6.2
rfc3986==1.5.0
six==1.16.0
termcolor==2.4.0
TgCrypto==1.2.5
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
wrapt==1.16.0
